@model IEnumerable<Reservas.Models.Booking>

@{
    ViewData["Title"] = "Mis Reservas";
}

<h2 class="mb-4">📂 Mis Reservas</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center mx-auto" style="max-width: 600px;" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
}


@if (!Model.Any())
{
    <div class="alert alert-info">Aún no tienes reservas.</div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.ActionLink("Recurso", "MisReservas", new { sortOrder = ViewBag.SortRecurso })</th>
                <th>@Html.ActionLink("Tipo", "MisReservas", new { sortOrder = ViewBag.SortTipo })</th>
                <th>@Html.ActionLink("Centro", "MisReservas", new { sortOrder = ViewBag.SortCentro })</th>
                <th>@Html.ActionLink("Fin", "MisReservas", new { sortOrder = ViewBag.SortFin })</th>
                <th>@Html.ActionLink("Inicio", "MisReservas", new { sortOrder = ViewBag.SortFechaInicio })</th>
                <th>@Html.ActionLink("Estado", "MisReservas", new { sortOrder = ViewBag.SortEstado })</th>
                <th>@Html.ActionLink("Creada el", "MisReservas", new { sortOrder = ViewBag.SortFechaCreacion })</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Resource?.NameSpanish</td>
                    <td>@r.Resource?.ResourceType?.NameSpanish</td>
                    <td>@r.Resource?.Center?.NameSpanish</td>
                    <td>@r.FechaInicio.ToString("g")</td>
                    <td>@r.FechaFin.ToString("g")</td>
                    <td>@r.Estado</td>
                    <td>@r.FechaCreacion.ToString("dd/MM/yyyy HH:mm")</td>




                </tr>
            }
        </tbody>
    </table>
}
